

.navigation {
  height: 70px;
  background: #77F9D4;
}

.nav-container {
  max-width: 90%;
  margin: 0 auto;
}

.brand {
  float: left;
  font-size: 1.4em;
  line-height: 10px

}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: right;
      position: relative;
      a {
        display: block;
        padding: 10px 20px 0 20px;
        line-height: 50px;
        color: #0c0c0c;
        text-decoration: none;
        font-size: 20px;
      }
      a:hover{
        color:#FF9F14;

      }

     }
    }
