

.navigation {
  height: 70px;
  background: #2c3e50;
}

.nav-container {
  max-width: 85%;
  margin: 0 auto;
}

.brand {
  float: left;
  font-size: 1.4em;
  line-height: 10px;
  color: #fff
}


ul {
    list-style: none;
    li {
      float: right;
      position: relative;
      a {
        display: block;
        padding: 10px 20px 0 20px;
        line-height: 50px;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
      }
      a:hover{
        color:#1abc9c;

      }

     }
    }
